<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8">
 	 <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        
 
        <title>Home</title>
	<style>
	

	body{
            	min-height: 100vh;
            	background-color: #FFDAB9;
		 background-image: url("bg.png");
        }
	table {
 		border-collapse: collapse;
  		width: 100%;
		background-color:#00FA9A;
		margin:0% 1%;
	}

	th, td {
  		padding: 5px;
  		text-align: left;
  		border-bottom: 1px solid #008B8B;
	}

	

	</style>
</head>
    <body>

	<hr>
	<br>
	<div class="container">
  
  		<ul class="list-inline">
    			<li><a href="fieldStaff_home.html" class="btn btn-primary"><h4>Home</h4></a></li>
    			<li><a href="fieldStaff_schedule.html" class="btn btn-primary"><h4>Schedule</h4></a></li>
    			<li><a href="fieldStaff_history.html" class="btn btn-primary"><h4>History</h4></a></li>
    			<li><a href="log_out.php" class="btn btn-primary"><h4>Log out</h4></a></li>
  		</ul>
	</div>
	<hr>

    	<table1>
        <table width="100%"  align="center" style="height:200px">
             <tr>
             <td colspan="5" rowspan="10">
             		<h3>Table for upcoming supplies //which are approved</h3>
             		<table width="100%">
             			<tr>
             				<th>Order no.</th>
             				<th>Fruit</th>
             				<th>Quantity(Kg.)</th>
             				<th>Source</th>
             				<th>Destination</th>
             				<th>set Status</th>
             			</tr>
             			<tr>
             				<td>O2001010001</td>
             				<td>Apple</td>
             				<td>30</td>
                             <td>F0100100001</td>
                             <td>F0100100002</td>
             				<td><input type="button" class="btn btn-success" name="set_delivery" value="set Delivered" /></td>
             			</tr>
             		</table>
             </td></tr>
             
        </table>
        </table1> 
    </body>
</html>